body {
    background-color: #CFD0CF;
}
h1 {
    line-height: 47px;
    font-family: 'Arial';
    font-size: 42px;
    color: #434344;
    text-align: center;
}

#field {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(3, 130px);
    column-gap: 25px;
    row-gap: 25px;

    margin: 0 25%;
    perspective: 600px;
}
.card {
    position: relative;
    height: 130px;
    width: 130px;

    transform-style: preserve-3d;
    transition: 1s;
}
.right {
    background: #5AD66f;
    border: 5px solid #5AD66f;
}
.wrong {
    background: #F44336;
    border: 5px solid #F44336;
}
.not_clickable {
    pointer-events: none;
}
.front {
    background: linear-gradient(45deg, #22AB93, #19668D);
    border: 5px solid #ffffff;
}
.back {
    transform: rotateY(180deg);

    display: flex;
    place-content: center;
}
.color {
    background: #ffffff;
    border: 5px solid #ffffff;
}
.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;

    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    backface-visibility: hidden;
}
.not_transform {
    transform: rotateY(180deg);
}
.transform {
    transform: rotateY(180deg);

}
/* .card:hover .front {
    transform: rotateY(180deg);
}
.card:hover .back {
    transform: rotateY(360deg);
} */

.emoji {
    font-size: 65px;
    line-height: 75px;
    width: 75px;

    place-self: center;

    display: flex;
    place-content: center;
}
